body {
    background-color: #000000;
    color: #c0c0c0;
    font-family: 'Creepster', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: url('https://images.ecestaticos.com/CKdf54-h4K_aAdEsMCpm94UApVU=/0x0:2272x1515/1338x752/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd39%2F222%2F2a7%2Fd392222a708b88a52dbce923a1a029bb.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid #660000;
    padding: 15px;
    max-width: 600px;
    text-align: justify;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    font-size: 14px;
}

h1, h2 {
    color: #ff0000;
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
    font-family: 'Creepster', 'Courier New', Courier, monospace;
}

p, ul {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #b0b0b0;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li::before {
    content: "☠";
    color: #ff0000;
    margin-right: 8px;
}

strong {
    color: #ff4500;
    text-shadow: 1px 1px 3px #000000;
}

.container p:last-child {
    color: #ff4500;
    font-style: italic;
}

