@media (max-width: 768px) {
    body {
        background-color: black;
        font-size: 14px;
        padding: 10px;
    }
    .container {
        width: 100%;
    }
}



#card-group{
    color: brown;
}





.card{
color: rgb(63, 63, 63);
}



.card-texto{
    font-family:crep;
}
